apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-deployment
  labels:
    app: postgres
    tier: database
  namespace: default
spec:
  selector:
    matchLabels:
      app: postgres
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: postgres
        tier: database
    spec:
      containers:
        - name: postgres
          image: "{{ db_image }}"
          env: # The variables below could be set on a ConfigMap object
            - name: DB_NAME
              value: "{{ db_name }}"
            - name: DB_USER
              value: "{{ db_username }}"
            - name: DB_PASSWORD
              value: "{{ db_password }}" # aqui ns se ta tudo
          ports:
            - containerPort: 5432 # porta default do postgress
          volumeMounts:
            - name: postgres-persistent-storage
              mountPath: /var/lib/postgresql/data # rever
      volumes:
        - name: postgres-persistent-storage
          persistentVolumeClaim:
            claimName: "{{ pvc_name }}"
