- name: Create a Deployment for moonshot
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', 'deployment.yml') | from_yaml }}"
    wait: true

- name: Create a service for exposing moonshot
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', 'service.yml') | from_yaml }}"
    wait: true

- name: Wait till moonshot pod is created
  kubernetes.core.k8s_info:
    kind: Pod
    namespace: default
    label_selectors:
      - app=moonshot
    wait: true
    wait_sleep: 5
    wait_timeout: 180
  register: moonshot_pod_info

- name: Seed the database
  kubernetes.core.k8s_exec:
    namespace: default
    pod: "{{ moonshot_pod_info.resources[0].metadata.name }}"
    command: php artisan db:seed
  when: seed_db is defined and seed_db
