---
- name: Create a service for exposing moonshot
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', 'service.yml') | from_yaml }}"
    wait: true
  tags: moonshot

- name: Wait till moonshot pod is created
  kubernetes.core.k8s_info:
    kind: Pod
    namespace: default
    label_selectors:
      - app=moonshot
    wait: true
    wait_sleep: 5
    wait_timeout: 180
  register: moonshot_pod_info

- name: Wait for the LoadBalancer Service to become available
  kubernetes.core.k8s_info:
    kind: Service
    namespace: default
    label_selectors:
      - "app=moonshot"
  register: moonshot_info
  retries: 10
  delay: 5
  until: moonshot_info.resources[0].status.loadBalancer | length > 0

- name: Set app_ip
  set_fact:
    app_ip: "{{ moonshot_info.resources[0].status.loadBalancer.ingress[0].ip }}"
    app_port: "{{ moonshot_info.resources[0].spec.ports[0].port }}"

- name: Replace app_ip on GCP
  replace:
    path: inventory/gcp.yml
    regexp: 'app_ip: [^\n]+'
    replace: "app_ip: {{ app_ip }}"

- name: Replace app_port on GCP
  replace:
    path: inventory/gcp.yml
    regexp: 'app_port: [^\n]+'
    replace: "app_port: {{ app_port }}"

- name: Create a Deployment for moonshot
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', 'moon-deployment.yml') | from_yaml }}"
    wait: true
    wait_timeout: 500
  tags: moonshot

- name: Check if seed_database flag is true
  debug:
    msg: "Flag seed_database is set to true, running database seed"
  when: seed_database | default(false)

- name: Populate the Postgres database
  kubernetes.core.k8s_exec:
    namespace: default
    pod: "{{ moonshot_pod_info.resources[0].metadata.name }}"
    command: python3 seed.py
  register: result_seed
  retries: 5
  delay: 5
  until: result_seed.rc == 0
  when: seed_database == "true"
