# Create a Docker network
- name: Create a Docker network
  community.docker.docker_network:
    name: "{{ db_network }}"
    state: present

# Get Docker image
- name: Check if the image exists locally
  community.docker.docker_image_info:
    name: "{{ db_image }}"
  register: result

# if the image does not exist locally, pull it
- name: Pull the image if it does not exist locally
  community.docker.docker_image:
    name: "{{ db_image }}"
    source: pull
  when: result.images | length == 0

- name: Run postgres container
  community.docker.docker_container:
    name: "{{ db_host }}" # Name of the container
    image: "{{ db_image }}" # PostgreSQL Docker image
    state: started
    ports:
      - "5432:5432" # PostgreSQL default port
    env:
      DB_NAME: "{{ db_name }}" # Name of the database to create
      DB_USER: "{{ db_username }}" # Username for the database
      DB_PASSWORD: "{{ db_password }}" # Password for the user
    volumes:
      - postgres:/var/lib/postgresql/data # Volume for persistent data
    networks:
      - name: "{{ db_network }}" # Network configuration (optional, if using a Docker network)
    detach: true

# Check if the container is running
- name: Check if the container is running
  ansible.builtin.shell:
    cmd: docker ps | grep "{{ db_host }}"
  register: result
  changed_when: false
  ignore_errors: true

# Fail the playbook if the container is not running
- name: Fail if the container is not running
  ansible.builtin.fail:
    msg: "Container {{ db_host }} is not running"
  when: result.rc != 0

# Check if the database is accessible
# Retry the task up to 5 times with a delay of 10 seconds between retries
- name: Check if the database is accessible
  ansible.builtin.shell: docker exec {{ db_host }} psql -U {{ db_username }} -d {{ db_name }} -c "\l"
  register: result
  retries: 5
  delay: 10
  until: result.rc == 0
  changed_when: false

# Fail the playbook if the database is not accessible
- name: Fail if the database is not accessible
  ansible.builtin.fail:
    msg: "Database {{ db_name }} is not accessible. Output: {{ result.stdout }}"
  when: result.rc != 0
