- name: Ensure Python is installed
  raw: |
    sudo apt update && sudo apt install -y python3
  changed_when: false # Prevent Ansible from reporting changes on every run

- name: Ensure pip is installed
  raw: |
    sudo apt install -y python3-pip
  changed_when: false

- name: Verify Python installation
  command: python3 --version
  register: python_version
  changed_when: false

- name: Show Python version
  debug:
    msg: "Python version installed: {{ python_version.stdout }}"

- name: Ensure kubernetes Python library is installed
  pip:
    name: kubernetes
    executable: python3
  become: true

- name: Verify kubernetes library installation
  command: python3 -m pip show kubernetes
  register: kubernetes_lib
  changed_when: false

- name: Show kubernetes library version
  debug:
    msg: "Kubernetes library installed: {{ kubernetes_lib.stdout }}"

- name: Create a PVC for PostgreSQL
  kubernetes.core.k8s:
    definition: "{{ lookup('template', 'postgres-pvc.yml') | from_yaml }}"
    state: present
    wait: true

- name: Create a Deployment for PostgreSQL
  kubernetes.core.k8s:
    definition: "{{ lookup('template', 'postgres-deployment.yml') | from_yaml }}"
    state: present
    wait: true
    wait_timeout: 500

- name: Create a service for exposing PostgreSQL
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', 'postgres-service.yml') | from_yaml }}"
    wait: true

- name: Wait till PostgreSQL pod is created
  kubernetes.core.k8s_info:
    kind: Pod
    namespace: default
    label_selectors:
      - app=postgres
    wait: true
    wait_sleep: 5
    wait_timeout: 500
  register: postgres_pod_info

- name: Wait until PostgreSQL is ready to accept connections
  kubernetes.core.k8s_exec:
    namespace: default
    pod: "{{ postgres_pod_info.resources[0].metadata.name }}"
    command: psql -U {{ db_username }} -d {{ db_name }} -c "\l"
  register: postgres_login
  retries: 3
  delay: 100
  until: postgres_login.rc == 0
